<div class="overlay-viewurl">
    <% if(url.url_edata == 'true') { %>
        <h3>History</h3>
        <hr>
        <div class="overlay-viewurl-history">
            <div>
                <% his.forEach(function(item) { %>
                    <div>
                        <p><%= item.his_cdate %></p>
                        <ol>
                            <% item.his_his.forEach(function(hisItem) { %>
                                <li class="overlay-viewurl-history-item">
                                    <div>Device: <%= hisItem.his_device %></div>
                                    <div>Ip: <a target="_BLANK" href="https://www.ip-tracker.org/locator/ip-lookup.php?ip=<%= hisItem.his_ip %>"><%= hisItem.his_ip %></a></div>
                                    <div>Time: <%= hisItem.his_date %> Minutes</div>
                                </li>
                            <% }) %>
                        </ol>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <h3>Edit url: <%= url.url_nme %></h3>
    <hr>
    <form onsubmit="return false" id="overlay-createurl-form">
        <div class="overlay-item-input-inline">
            <span class="input-inline">
                <input class="input-inline-in input-inline-in" type="text" required max="256" placeholder="" id="url_nme" value="<%= url.url_nme %>">
                <div>Name</div>
            </span>
            <span class="input-inline">
                <input class="input-inline-in" type="text" max="256" required placeholder="" id="url_url" value="<%= url.url_url %>">
                <div>Original URL</div>
            </span>
        </div>
        <br>
        <div class="checkbox">
            <span>
                <input type="checkbox" id="url_edata" <% if(url.url_edata == 'true') { %>checked<% } %>>
            </span>
            <span>Store IP & Other data</span>
        </div>
        <br><br>
        <div class="overlay-button-inline">
            <button type="button" class="button-text" onclick="overlay_closeview()">Close</button>
            <button type="button" class="button" onclick="update_url('<%= url.url_id %>')">Update</button>
            <button type="button" class="button" onclick="remove_url('<%= url.url_id %>')">Remove</button>
        </div>
        </div>
    </form>
</div>